<div class="container">
  <div class="row">
    <div class="col-md-6" id="foods">
      <h1>Food</h1>

      <%= link_to "Add Food", new_food_path, id: "add_food", remote: true %>
      <br><br>
      <div id="food_list">
        <% @foods.each do |food| %>
          <%= render "food", :food => food %>
        <% end %>

      </div>
    </div>

    <div class="col-md-6" id="activities">
      <h1>Activity</h1>

      <%= link_to "Add Activity", new_activity_path, id: "add_activity", remote: true %>
      <br><br>
      <div id="activity_list">
        <% @activities.each do |activity| %>
          <%= render "activities/activity", :activity => activity %>
        <% end %>
      </div>


    </div>
  </div>
</div>
