<h1>Activity</h1>

<%= link_to "Add Activity", new_activity_path, id: "add_activity", remote: true %>
<br><br>
<div id="activity_list">
  <% @activities.each do |activity| %>
    <%= render "activity", :activity => activity %>
  <% end %>
</div>
